body {
    color: white;
    font-family: sans-serif;
  }
  
  #two{
  font-weight: bold;
  font-family: sans-serif;
  }
  
  ul.dropdown-menu.dropdown-menu-dark.show li a {
      text-decoration: none;
      color: white;
      /* margin: 0 8%; */
  }